html,
body {
  font-family: Arial, sans-serif;
  /* background: linear-gradient(
    111.1deg,
    rgb(0, 40, 70) -4.8%,
    rgb(255, 115, 115) 82.7%,
    rgb(255, 175, 123) 97.2%
  ); */
  background: url(/src/images/wolf.jpeg) center center / contain no-repeat;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.text {
  background-color: #f9f9f9;
  color: darkslategray;

  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 8px;
  width: 50%;
  border: solid;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

#toggle-favorite-btn {
  display: none;
}

.fa-heart {
  color: red;
  margin-left: 15px;
  border: 4px;
}

.quote {
  font-style: italic;
}

.quote::before,
.quote::after {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #f9f9f9;
  color: darkslategray;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  border: solid;
  border-radius: 8px;
  width: 25%;
}

.author {
  font-style: italic;
  font-weight: 900;
}
