body {
  font-family: Arial, sans-serif;
  background-image: url('/src/wolf.jpeg');
  background-repeat: no-repeat;

  color: black;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px 0px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.container {
  max-width: 30%;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.btn:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}

.quote {
  font-style: italic;
}

.quote::before,
.quote::after {
  content: '"';
}

#toggle-favorite-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.active {
  color: red;
}

.author {
  font-weight: bolder;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  background-color: #f9f9f9;
  color: #333;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  width: 25%;
}
